@charset "UTF8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", serif;
    --font3: "Sriracha", serif;
    --font4: "Playwrite IN", serif;
}


*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: var(--font1);
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

header{
    background-color:black;
    color: aliceblue;
    text-align: center; 
    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font4);
    font-size: 3.5em;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-family: var(--font3);
    font-size: 1.5em;
}

section.normal{
    background-color: aliceblue;
    color: black;
}

section.imagem{
    background-color: darkgray;
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.609);
    background-size: cover;
    background-attachment: fixed;
    
    
}


#joaninha.imagem {
    background-color: rgba(51, 51, 51);
    background-image: url("../image/background001.jpg");
    background-position: right center;
    
    
}

#livro.imagem{
    background-image: url("../image/background002.jpg");
    background-size: cover;
    
}

section#floresta.imagem{
    background-image: url("../image/background003.jpg");
    background-position:center;
    
    
}


section.imagem > p{
    display: inline-block;
    padding: 20px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.391);
    text-shadow: 1px 1px 0px black;
    border-radius: 10px;
    box-shadow: inset 1px 1px 50px 20px black;
    
}

section p{
    padding-bottom: 1.5em;
}

footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 10px;
    margin-top:50px ;
}